/*mobile first: thiet ke web ưu tiên màn hình cell phone*/
/*không cần media*/
* {
  margin: 0;
  padding: 0;
}

#nav-bar {
  text-align: center;
}

#banner {
  background-image: url(../images/banner.jpg);
  height: 30vh;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
#nav-bar .container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: left;
}
nav a {
  text-decoration: none;
}
.name {
  display: none;
}
